#root {
  width: 100%;
  height: 100vh;
  display: flex;
}

.app_container {
  width: 100%;
}

.App {
  height: 100%;
}

.background {
  background-image: url('/public/reservation-page-background.jpg');
  background-size: cover;
}

.reservation {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: medium;
}

@media screen and (max-width: 430px) {
  .reservation {
    padding: 1rem;
  }
}

@media screen and (max-width: 350px) {
  .rdp {
    @apply text-sm;

    --rdp-cell-size: 35px !important;
  }

  .rdp-months {
    width: fit-content !important;
  }
}

@media screen and (max-width: 680px) {
  #root {
    flex-direction: column;
  }
}

.rdp {
  @apply bg-gray-50 shadow-lg border border-slate-200 rounded-md p-2;
}

.rdp-caption {
  @apply text-slate-500;
}

.rdp-day {
  --tw-text-opacity: 1;

  border-radius: 10px !important;
  color: rgb(30 41 59 / var(--tw-text-opacity)) !important;

  @apply hover:bg-slate-300 cursor-pointer;
}

.rdp-day_today {
  @apply bg-slate-200 font-normal !important;
}

.rdp-head_cell {
  @apply text-slate-700 !important;
}

.rdp-day_selected {
  @apply bg-green-500 !important;
}
