.carWrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  height: 100%;
}

.carListTitle {
  font-size: 24px;
  font-weight: 600;
  padding: 16px 0;
  width: 95%;
  margin: 30px auto 20px auto;
  letter-spacing: 1px;
  text-align: center;
  background-color: #98bf11;
  color: white;
  border-radius: 5px;
}

.pagination {
  display: flex;
  flex-direction: row;
  justify-content: center;
  column-gap: 10px;
  align-items: center;
  text-align: center;
  padding: 12px 16px;
  margin: 0 auto;
  box-sizing: border-box;
  background-color: rgb(233, 233, 233);
}

.page-link {
  border: 1px solid #98bf11;
  padding: 0 12px;
  font-size: 18px;
  font-weight: 600;
}

.page-item.active {
  background-color: #98bf11;
  color: white;
}

.page-item:hover {
  background-color: #98bf11;
  color: white;
}

.cardContainer {
  flex: 1;
}

.cardGrid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  flex-direction: row;
  justify-content: center;
  gap: 24px;
  padding: 26px;
}

.cardCol {
  min-width: 270px;
  width: 80%;
  margin: 0 auto;
}

.cardCol:hover {
  cursor: pointer;
  box-shadow: 0 3px 13px 0 rgba(118, 240, 115, 0.75);
  -webkit-box-shadow: 0 3px 13px 0 rgba(118, 240, 115, 0.75);
  -moz-box-shadow: 0 3px 13px 0 rgba(118, 240, 115, 0.75);
}

.carImg {
  width: 100%;
  height: 250px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  display: flex;
  justify-content: center;
}

.carText {
  border: 1px solid #98bf11;
  padding: 6px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.carTitle {
  font-size: 18px;
  font-weight: 500;
  padding: 8px 0;
}

.carIntro {
  font-size: 14px;
}

.carDetails {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 26px;
  margin: 90px;
  box-sizing: border-box;
  background-color: rgb(233, 233, 233);
}

.carDetailsImage > img {
  width: 100%;
  height: auto;
}

.carDetailsInfo {
  margin-left: 28px;
  width: 60%;
}

.title {
  font-size: 16px;
  font-weight: 600;
}

.title > span {
  margin-left: 8px;
  font-weight: 300;
  font-size: 18px;
}

.carDescription {
  font-size: 16px;
  font-weight: 400;
  margin: 18px 0;
}

.reserveBtn {
  background-color: #98bf11;
  border-radius: 5px;
  padding: 8px 18px;
  font-size: 24px;
  color: white;
  letter-spacing: 2px;
}

.reserveBtn:hover {
  background-color: #49c95c;
}

.carousel {
  position: relative;
}

.carousel.pointer-event {
  touch-action: pan-y;
}

.carousel-inner {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.carousel-inner::after {
  display: block;
  clear: both;
  content: "";
}

.carousel-item {
  position: relative;
  display: none;
  float: left;
  width: 100%;
  margin-right: -100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  transition: transform 0.6s ease-in-out;
}

@media (prefers-reduced-motion: reduce) {
  .carousel-item {
    transition: none;
  }
}

.carousel-item.active,
.carousel-item-next,
.carousel-item-prev {
  display: block;
}

/* rtl:begin:ignore */
.carousel-item-next:not(.carousel-item-start),
.active.carousel-item-end {
  transform: translateX(100%);
}

.carousel-item-prev:not(.carousel-item-end),
.active.carousel-item-start {
  transform: translateX(-100%);
}

/* rtl:end:ignore */
.carousel-fade .carousel-item {
  opacity: 0;
  transition-property: opacity;
  transform: none;
}

.carousel-fade .carousel-item.active,
.carousel-fade .carousel-item-next.carousel-item-start,
.carousel-fade .carousel-item-prev.carousel-item-end {
  z-index: 1;
  opacity: 1;
}

.carousel-fade .active.carousel-item-start,
.carousel-fade .active.carousel-item-end {
  z-index: 0;
  opacity: 0;
  transition: opacity 0s 0.6s;
}

@media (prefers-reduced-motion: reduce) {
  .carousel-fade .active.carousel-item-start,
  .carousel-fade .active.carousel-item-end {
    transition: none;
  }
}

.carousel-control-prev,
.carousel-control-next {
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 15%;
  padding: 0;
  color: #fff;
  text-align: center;
  background: none;
  border: 0;
  opacity: 0.5;
  transition: opacity 0.15s ease;
}

@media (prefers-reduced-motion: reduce) {
  .carousel-control-prev,
  .carousel-control-next {
    transition: none;
  }
}

.carousel-control-next {
  right: 0;
}

.carousel-control-prev {
  left: 0;
}

.carousel-control-prev:hover,
.carousel-control-prev:focus,
.carousel-control-next:hover,
.carousel-control-next:focus {
  color: #fff;
  text-decoration: none;
  outline: 0;
  opacity: 0.9;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  display: inline-block;
  width: 2rem;
  height: 2rem;
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: 100% 100%;
}

.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath d='M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z'/%3e%3c/svg%3e");
}

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath d='M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}

.carousel-indicators {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
  display: flex;
  justify-content: center;
  padding: 0;
  margin-right: 15%;
  margin-bottom: 1rem;
  margin-left: 15%;
  list-style: none;
}

.carousel-indicators [data-bs-target] {
  box-sizing: content-box;
  flex: 0 1 auto;
  width: 30px;
  height: 3px;
  padding: 0;
  margin-right: 3px;
  margin-left: 3px;
  text-indent: -999px;
  cursor: pointer;
  background-color: #fff;
  background-clip: padding-box;
  border: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  opacity: 0.5;
  transition: opacity 0.6s ease;
}

@media (prefers-reduced-motion: reduce) {
  .carousel-indicators [data-bs-target] {
    transition: none;
  }
}

.carousel-indicators .active {
  opacity: 1;
}

.carousel-caption {
  position: absolute;
  right: 15%;
  bottom: 1.25rem;
  left: 15%;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  color: #fff;
  text-align: center;
}

.carousel-dark .carousel-control-prev-icon,
.carousel-dark .carousel-control-next-icon {
  filter: invert(1) grayscale(100);
}

.carousel-dark .carousel-indicators [data-bs-target] {
  background-color: #000;
}

.carousel-dark .carousel-caption {
  color: #000;
}

/* mobile responsive design style */
@media only screen and (max-width: 1220px) {
  .carImg {
    height: 200px;
  }
}

@media only screen and (max-width: 1220px) {
  .cardGrid {
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (max-width: 768px) {
  .cardGrid {
    grid-template-columns: 1fr;
  }

  .carListTitle {
    padding: 8px;
  }

  .carDetails {
    flex-direction: column;
    margin: 0;
  }

  .carDetailsInfo {
    margin-left: 0;
    width: 100%;
  }
}
