h1 {
  font-size: 30px;
}

.card-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 30px;
  margin: 30px;
}

.reservation-card {
  display: flex;
  flex-direction: column;
  background-color: rgb(239, 243, 248);
  width: 300px;
  height: 400px;
  border-top-left-radius: 50px;
}

.car_img {
  height: 200px;
  width: 300px;
  border-top-left-radius: 40px;
  border-bottom-right-radius: 40px;
}

@media (max-width: 910px) {
  .card-container {
    justify-content: center;
  }
}
