
#add_car,
#form {
  background: linear-gradient(to right, #97c0027a, #97c00250), url('https://images.pexels.com/photos/1402787/pexels-photo-1402787.jpeg?auto=compress&cs=tinysrgb&w=4000&h=1800');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  padding: 1rem;
}

.form__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  max-width: 650px;
  margin: 0 auto;
  background: #fff6;
  border: 1px solid black;
  border-radius: 20px;
  box-shadow: 9px 10px 39px 0 rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 9px 10px 39px 0 rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 9px 10px 39px 0 rgba(0, 0, 0, 0.75);
  padding: 1rem;
}

.form__container input,
.form__container textarea {
  width: 100%;
  padding: 0.5rem 1rem;
  border: 1px solid #ddd;
  font-size: 1.2rem;
  color: #000;
}

.form__container input.error,
.form__container textarea.error {
  border: 3px solid red;
}

.form__container input[type=submit] {
  cursor: pointer;
  margin-top: 1rem;
  background-color: #97c00254;
}

.form__container input[type=submit]:hover {
  background-color: #97c002b4;
  color: #fff;
}

.form__container label {
  font-size: 1.2rem;
  text-transform: capitalize;
}

.form__container h2 {
  font-size: 2rem;
  margin-bottom: 2rem;
}

.form__container select {
  width: 100%;
  padding: 1rem;
  color: #000;
}

.form__container #images {
  display: flex;
  justify-content: space-between;
  font-size: 1.2rem;
  margin-top: 2rem;
}

.image__input {
  display: flex;
  justify-content: space-between;
  column-gap: 1rem;
  font-size: 1.2rem;
  margin-top: 0.5rem;
}

.form__errors {
  margin-bottom: 2rem;
  width: 100%;
}

.form__error {
  background: red;
  font-size: 1.2rem;
  padding: 0.5rem 1rem;
  color: #fff;
}

.form__success {
  background-color: green;
  color: #fff;
  font-size: 1.2rem;
  width: 100%;
  padding: 1rem;
  margin-bottom: 2rem;
}

.form__action {
  display: inline-block;
  width: 100%;
  text-align: end;
  font-size: 1rem;
  margin-top: 1rem;
}

.register__btn {
  color: blue;
  text-decoration: underline;
}
